{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOINUS
    </title>
    <link rel="stylesheet" href="{% static 'css/rpyfl.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="fixed-top" >

        <header>
            
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="#home"><img src="{% static 'image/logo.png'%}" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {%include 'menu.html'%}

                    </div>
                </nav>
            </div>
        </header>
        <div class="cont-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p style="text-align: left;">Contact No : <a href="tel: +91 1234567890">+91 1234567890</a></p>
                    </div>
                    <div class="col-lg-6">
                        <div class="social">
                            <a href="https://www.facebook.com/share/16LPEufngx/"><img src="{% static 'img/icons/facebook.png' %}" alt="facebook"></a>
                            <a href="https://www.instagram.com/joyal_jinz?utm_source=qr&igsh=MTU3dWV6OWpmaGltZg=="><img src="{% static 'img/icons/instagram.png' %}" alt="instagram"></a>
                            <a href="https://youtube.com/@sobineh4120?si=bgqK9OByC_UPXUCO"><img src="{% static 'img/icons/youtube.png' %}" alt="youtube"></a>
                            <a href="https://www.linkedin.com/in/melbin-s-090984260?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="{% static 'img/icons/linkedin.png' %}" alt="linkedin"></a>
                            <a href="mailto:tonystarkmarvel123@gmail.com"><img src="{% static 'img/icons/gmail.png' %}" alt="gmail"></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

       
    </div>   
    
    {% block content%}

    <h1>content...</h1>

    {% endblock content%}

    {% block extra_scripts%}

    {% endblock %}

    


        
    



    <footer id="contact">
        
        <div class="container" >
            <h4 style="padding-left: 350px;color: rgb(18, 18, 18); font-weight: bold;">LETS MAKE A DIFFERENCE</h4>

            <h3 style="padding-left: 390px;color: rgb(18, 18, 18); font-weight: bolder;" >GET IN TOUCH</h3>
            
            <br>
            <div class="row">
                

                <div class="col-lg-4">
                    
                    <div class="col-one">
                        <h4 style="font-weight: bolder; color:#212529 ;">joinus foundation</h4>
                        <p>Address : Tawakkal,Kannur post, Bengaluru, Karnataka, 562149 </p>
                        <p>Contact No : <a href="tel: +91 1234567890">+91 1234567890</a></p>
                        <p>Email : <a href="mailto:tonystarkmarvel123@gmail.com">tonystarkmarvel123@gmail.com</a></p>
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="col-two">

                        <br>
                        <br>
                        <ul>
                            <li class="nav-item active"><h5>
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'Donation' %}">Donations</a> 
                                {% else %}
                                <a href="{% url 'login_page' %}?next={% url 'Donation' %}">Donations</a></h5> 
                                {% endif %}
                            </li>  
                            <li><h5><a href="{%url 'homepage'%}">Missions</a></h5></li>
                            <li><h5><a href="{% url 'about_page'%}">About us</a></h5></li>
                            <li class="nav-item active">
                                <h5>
                                  {% if request.user.is_authenticated %}
                                    <a href="{% url 'feedback_page' %}" style="color: #31c1ff;">Feedback</a>
                                  {% else %}
                                    <a href="{% url 'login_page' %}?next={% url 'feedback_page' %}" style="color: #31c1ff;">Feedback</a>
                                  {% endif %}
                                </h5>
                              </li>
                              

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-one">
                        <h4 style="font-weight: bolder; color: #212529;">Social Media</h4>
                        <div class="social">
                            <a href="https://www.facebook.com/share/16LPEufngx/"><img src="{% static 'img/icons/facebook.png' %}" alt="facebook"></a>
                            <a href="https://www.instagram.com/joyal_jinz?utm_source=qr&igsh=MTU3dWV6OWpmaGltZg=="><img src="{% static 'img/icons/instagram.png' %}" alt="instagram"></a>
                            <a href="https://youtube.com/@sobineh4120?si=bgqK9OByC_UPXUCO"><img src="{% static 'img/icons/youtube.png' %}" alt="youtube"></a>
                            <a href="https://www.linkedin.com/in/melbin-s-090984260?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="{% static 'img/icons/linkedin.png' %}" alt="linkedin"></a>
                            <a href="mailto:tonystarkmarvel123@gmail.com"><img src="{% static 'img/icons/gmail.png' %}" alt="gmail"></a>
                        </div>
                        <p>Copyright &copy; 2025 | All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script >

        document.querySelectorAll('.image-container img').forEach(image => {
            image.onclick = () => {
                document.querySelector('.pop-image').style.display = 'block';
                document.querySelector('.pop-image img').src = image.getAttribute('src');
            }
        });

        document.querySelector('.pop-image span').onclick = () => {
            document.querySelector('.pop-image').style.display = 'none';
        }        

    
    </script>
    <script src="{% static ' js/payment.js'%}"></script>
    
</body>

</html>