{% load static%}

<ul class="navbar-nav ml-auto">
     </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'login_page' %}" style="color: black;">Login <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage'%}" style="color: black;">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'login_page'%}" style="color: black;">Donations<span class="sr-only">(current)</span></a>
    </li>
    
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'about_page'%}" style="color: black;">About<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#contact" style="color: black;">Contact<span class="sr-only">(current)</span></a>
    </li>
</ul>