{% load static  %}

<section class="home-sec">
        <div class="container">
        <div class="home-content">
            <div class="row">
                <div class="col-lg-6 align-item-center">
                    <div class="home-info">
                        <h1>Alone we can do little, together we can do so much</h1>
                        <h2>We <span>JOINUS foundation</span> manage wastage for needy peoples</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nobis voluptates modi.</p>
                        <div class="buttons">
                            <a href="{% url 'Donation'%}" class="btn1">Donate now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-first order-lg-last">
                    <div class="img-sec">
                        <img src="{% static 'image/img-1.png'%}" alt="home-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="mission" id="mission-id">
    <div class="container">
        <div class="heading">
            <h2>Our Missions</h2>
            <p>We have delivered <span>Wastage</span> or <span>Donations</span> to needy Peoples</p>
        </div>
        <div class="gallery-sec">
            <div class="container">
                <div class="image-container">
                    <div class="image"><img src="{%static 'image/1.jpg'%}" alt="img"></div>
                    <div class="image"><img src="{%static 'image/2.jpg'%}" alt="img"></div>
                    <div class="image"><img src="{%static 'image/3.jpg'%}" alt="img"></div>
                    <div class="image"><img src="{%static 'image/4.jpg'%}" alt="img"></div>
                    <div class="image"><img src="{%static 'image/5.jpg'%}" alt="img"></div>
                    <div class="image"><img src="{%static 'image/6.jpg'%}" alt="img"></div>
                </div>
            </div>
            <div class="pop-image">
                <span>&times;</span>
                <img src="img/gallery/1.jpg" alt="gallery-img">
            </div>
            </di >
        </div>
</section>