{% load static%}
<section class="contact-section">
    <div class="container">
        <div class="heading">
            <h2>Connect With Us</h2>
            <p>Fill this form, our team will collect your <span>Donation</span> or <span>Wastage</span> from your place.</p>
            
        </div>
        <div class="row">
            
            <div class="col-lg-12 mt-5">
                <form class="contact-form" style="margin-left: 150px;">
                    
                    <div class="row">
                        
                        
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="text" style="font-weight: bold; font-size: 20px;">Enter your Name:</label>
                                            <input type="text" class="form-control" placeholder="Your Name" maxlength="15">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="text" style="font-weight: bold; font-size: 20px;">Enter mobile number:</label>

                                            <input type="text" class="form-control" placeholder="Mobile No." maxlength="10">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="text" style="font-weight: bold; font-size: 20px;">Enter your Email:</label>

                                            <input type="email" class="form-control" placeholder="Email" maxlength="10">
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="text" style="font-weight: bold; font-size: 20px;">Choose loaction:</label>

                                            <select name="donation" id="donation">
                                                <option value=""></option>
                                                <option value="">KARNATAKA</option>
                                                <option value="">TAMILNADU</option>
                                                <option value="">KERALA</option>
                                                <option value="">ANDHRAPRADESH</option>
                                                <option value="">HYDRABAD</option>
                                                <option value="">GUJARAT</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="text" style="font-weight: bold; font-size: 20px;">Address:</label>

                                            <input type="text" class="form-control" placeholder="Address">
                                        </div>
                                        <div class="form-group">
                                            <label for="text" style="font-weight: bold; font-size: 20px;">Message:</label>

                                            <textarea class="form-control" name="text" id="" cols="90" rows="1" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    
                                    <div class="col-md-12 mt-3">
                                        <a href="#" class="btn1 mt-5">Submit Details</a>
                                    </div>
                                    
                                    
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>